*,
*::before,
*::after,
:root {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;
	font-family: Overlock, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #252934;
	background: #FAFAFA;
}

a,
a:visited {
	font-size: 1.4rem;
	color: #252934;
	text-decoration: none;
	transition: 200ms;
}

a:hover,
a:active {
	color: #F300B4;
}
